body {
  font-family: Arial; 
  text-align: center;
  color: #606060 ;
  background-image: url("cubes.png");
  
  
}

h1 {
  color: white;
}
h2 {
  font-family: Arial;
}

div div h2:hover {
  cursor:pointer;
  text-decoration: underline;
  /*font-size: 30px;
  box-shadow: 0 2px 2px #606060 ;
  border-radius: 10px;*/
}

div div h2:active {
  position: relative;
  top: 2px;
}

#header {
	background: #3984c5;
	padding-bottom: 2px;
}
#header a:hover {
	color: black;
  text-decoration: underline;
}
#header a {
	color: white;
	text-decoration: none;
}

#links {
  margin-left: auto ;
  margin-right: auto ;
  /*text-align: center;*/ 
  /*padding-left: 100px;*/
  /*width: 1200px;*/
	/*left:5em;
	position:absolute;*/
}

#links a {
	color: #606060;
}

#at {

  /*float:left;
  width: 300px;
  /*padding-right:5em;*/
}

#mc {
  /*float:left;
  width: 300px;
  /*padding-right:5em;*/
}

#proto {
  /*float:left;
  width: 300px;
  /*padding-right:5em;*/
}

#au {
  /*float:left;
  width: 300px;
  /*padding-right:5em;*/
}

#at_inner {
  display: none;
}

#mc_inner {
  display: none;
}

#proto_inner {
  display: none;
}

#au_inner {
  display: none;
}

div #links a:hover {
  font-size: 20px;
  color: #3984c5;
}

.pictures {
	width: 150px;
	border-radius: 50%;
}

.section h2 {
	color: #3984c5;

}

.section {
	background-color: none;
	border-radius: 10%;
}
