/*barra fixa no topo*/
body {
	margin: 0;
	font-family: 'Myriad Set Pro', 'Myriad Pro', 'Lucida Grande', Helvetica, 
	Arial,sans-serif;
	text-align: center;
	background-image: url("mesa.jpg");

}

table {
	text-align: center;
	color: white; 
}

#barra a {
	text-decoration: none;
}
#barra {
	background-color: #333;
	padding: 1%;
	display: flex;
    justify-content: space-between;
}

.icones {

	border-style: solid;
	border-width: 5px;
	border-color: white;
	border-radius: 25px;
	text-align: center;

}

.imagem_icone {
	height: 50%;
	width: 50%;
	border-radius: 5px;
	text-align: center;
	padding-top: 2%;
}

#home {
	float: left;
}
#menu {
	float: left;
}
#musica {
	float: left;
}


/*barra fixa no topo*/

/*barra fixa da musica em baixo*/
#outro1 {
	height: 2em;
	/*border:solid 1px;*/
}
/*barra fixa da musica em baixo*/

/*home*/
#outro {
	height: 52em;
	/*border:solid 1px;*/
}
/*home*/

/*menu*/
/*menu*/

/*musica*/
/*musica*/

/*historico*/
/*historico*/
